@import "tailwindcss";

:root {
    
  --color-primario: #f2f2f2;   
  --color-secundario:#6d6d6d; 
  --color-acento: #000000; 
      

}

.dark-mode {
  --color-primario: #1a1a1a;
  --color-secundario: #5dcea5;
  --color-acento: #f0edd0;
}

